aiogram==2.16
aiohttp==3.8.1
aiosignal==1.2.0
async-generator==1.10
async-timeout==4.0.1
asyncio==3.4.3
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
beautifulsoup4==4.10.0
blinker==1.4
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cheroot==8.5.2
CherryPy==18.6.1
colorama==0.4.4
configparser==5.1.0
constantly==15.1.0
crayons==0.4.0
cryptography==35.0.0
cssselect==1.1.0
dnspython==2.1.0
email-validator==1.1.3
ffmpy==0.3.0
fpdf==1.7.2
frozenlist==1.2.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
itemadapter==0.4.0
itemloaders==1.0.4
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.text==3.6.0
jmespath==0.10.0
kaitaistruct==0.9
lxml==4.6.3
more-itertools==8.12.0
multidict==5.2.0
outcome==1.1.0
parsel==1.6.0
phonenumbers==8.12.38
portend==3.1.0
priority==1.3.0
Protego==0.1.16
psutil==5.8.0
psycopg2==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
PyDispatcher==2.0.5
pydub==0.25.1
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyQiwiP2P==1.0.1
PySocks==1.7.1
pytz==2021.3
queuelib==1.6.2
requests==2.26.0
Scrapy==2.5.1
selenium==4.1.0
selenium-wire==4.5.6
service-identity==21.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
tempora==4.1.2
trio==0.19.0
trio-websocket==0.9.2
Twisted==21.7.0
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
uvloop==0.16.0
w3lib==1.22.0
webdriver-manager==3.5.2
wsproto==1.0.0
yarl==1.7.2
zc.lockfile==2.0
zope.interface==5.4.0
zstandard==0.16.0
